@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,700&subset=latin,latin-ext);

body {
    font-family: "Open Sans", Tacoma, sans-serif;
    font-size: 14px;
    max-width: 800px;
    margin: 0 auto;
}

.top-content {
    text-align: justify;
    max-width: 450px;
    margin: 0 auto;
}

.calculator
{
    max-width: 420px;
    margin: auto auto;
    background: #f4f4f4;
    border: 1px solid gray;
    border-radius: 6px;
    padding: 8px;
}

.footer-ad
{
    max-width: 728px;
    margin: 12px auto 0 auto;
}

#stdktv-table
{
    width: 400px;
    margin: 0 auto;
    /*table-layout: fixed;*/
}

#stdktv-table tr.table-header td
{
    font-weight: 600;
    text-align: center;
}

#stdktv-table tr
{
    
}

#stdktv-table td
{
    
}

.advanced
{
    display: none;
}
